{
  "root": true,
  "extends": "supermind",
  "env": {
    "jest": true
  },
  "rules": {
    "complexity": "off",
    "guard-for-in": "off",
    "no-invalid-this": "off",
    "no-mixed-operators": "off",
    "no-return-assign": "off",
    "no-undefined": "off",
    "no-underscore-dangle": "off",
    "no-var": "off"
  },
  "settings": {
    "import/core-modules": [ "vue", "vuex" ]
  }
}
